:root
{
    --green: #0f0;
    --whight: #fff;
    --black: #000;

}

*
{
    color: var(--fontColor);
    font-family: helvetica;
}

body
{
    background: var(--bg);
}

ul
{
    font-family: Helvetica;
}

li
{
    list-style: circle;
}

.list
{
    list-style: square;
}

#msg
{
    font-family: monospace;
}

.light-theme
{
    --bg: var(--green);
    --fontColor:var(--black);    
}

.dark-theme
{
    --bg: var(--black);
    --fontColor: var(--green);
}